.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-input {
  width: 217px;
  height: 35px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px; /* Adjust as needed */
}

.modal-actions {
  margin-top: 10px;
  text-align: right;
}
.modal-button {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ef403d;
  transition: background-color 0.3s;
  min-width: 200px;
  min-height: 40px;
}
.modal-error {
  color: red;
}
/* .modal-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

/* You might want to add some padding or margin to the close button for better appearance and clickability */
.modal-close-button {
  padding: 0.5rem;
  margin: -0.5rem;
  display: flex;
  justify-content: end;
  width: 100%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Optional: Style the close button on hover to give users feedback that it's clickable */
.modal-close-button:hover {
  opacity: 0.8;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
